.list-group-item.active {
  background-color: var(--tblr-primary-lt);
  color: var(--tblr-primary);
  border-color: transparent;
  font-weight: 500;
}

.icon-tabler {
  width: 1.25rem;
  height: 1.25rem;
}
