<!-- BEGIN NAVBAR -->
<header class="navbar navbar-expand-md d-print-none" data-bs-theme="dark">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" (click)="onToggle()" aria-label="Toggle sidebar navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/" aria-label="Home">
        <i-tabler name="layout-dashboard" class="navbar-brand-image"></i-tabler>
      </a>
    </div>

    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item d-none d-md-flex me-3">
        <div class="btn-list">
          <a href="https://github.com/sponsors/codecalm" target="_blank" class="btn btn-heart">
            <i-tabler name="heart" class="icon text-pink"></i-tabler>
            Sponsor
          </a>
        </div>
      </div>

      <div class="nav-item d-none d-md-flex me-3">
        <a href="javascript:void(0)" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" (click)="toggleTheme()">
          <i-tabler name="moon"></i-tabler>
        </a>
        <a href="javascript:void(0)" class="nav-link px-0 hide-theme-light" title="Enable light mode" (click)="toggleTheme()">
          <i-tabler name="sun"></i-tabler>
        </a>
      </div>

      <app-language-selector></app-language-selector>

      <div class="nav-item dropdown d-none d-md-flex me-3">
        <a href="javascript:void(0)" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications" data-bs-auto-close="outside">
          <i-tabler name="bell"></i-tabler>
          <span *ngIf="unreadCount > 0" class="badge bg-red">{{ unreadCount }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ 'layout.header.notifications' | translate }}</h3>
            </div>
            <div class="list-group list-group-flush">
              <a *ngFor="let n of notifications" class="list-group-item" [class.bg-light]="!n.read">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="status-dot" [class.status-dot-animated]="!n.read" [class.bg-red]="!n.read"></span>
                  </div>
                  <div class="col text-truncate">
                    <strong>{{ n.title }}</strong>
                    <div class="text-secondary">{{ n.time }}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-item dropdown d-none d-md-flex me-3">
        <a href="javascript:void(0)" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show app menu" data-bs-auto-close="outside">
          <i-tabler name="apps"></i-tabler>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
          <div class="card">
            <div class="card-body">
              <div class="row g-3">
                <div class="col-6">
                  <a href="/dashboard" class="btn btn-outline-secondary w-100 d-flex align-items-center gap-2">
                    <i-tabler name="layout-dashboard" class="icon"></i-tabler>
                    Dashboard
                  </a>
                </div>
                <div class="col-6">
                  <a href="/jobs" class="btn btn-outline-secondary w-100 d-flex align-items-center gap-2">
                    <i-tabler name="clipboard" class="icon"></i-tabler>
                    Jobs
                  </a>
                </div>
                <div class="col-6">
                  <a href="/customers" class="btn btn-outline-secondary w-100 d-flex align-items-center gap-2">
                    <i-tabler name="users" class="icon"></i-tabler>
                    Customers
                  </a>
                </div>
                <div class="col-6">
                  <a href="/reports" class="btn btn-outline-secondary w-100 d-flex align-items-center gap-2">
                    <i-tabler name="chart-bar" class="icon"></i-tabler>
                    Reports
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link d-flex lh-1 p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm">A</span>
          <div class="d-none d-xl-block ps-2">
            <div>{{ 'layout.header.userName' | translate }}</div>
            <div class="mt-1 small text-secondary">{{ 'layout.header.userRole' | translate }}</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a *ngFor="let item of profileMenu" class="dropdown-item" [routerLink]="item.route" (click)="item.action === 'logout' && logout()">
            <i-tabler [name]="item.icon" class="dropdown-item-icon"></i-tabler>
            {{ item.label }}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- END NAVBAR -->

<!-- BEGIN SECONDARY NAVBAR -->
<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar">
      <div class="container-xl">
        <div class="row flex-column flex-md-row flex-fill align-items-center">
          <div class="col">
            <nav aria-label="Primary">
              <ul class="navbar-nav">
                <li *ngFor="let item of horizontalMenu" class="nav-item" [class.dropdown]="!!item.children">
                  <ng-container *ngIf="!item.children; else hMenuHasChildren">
                    <a class="nav-link" [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <i-tabler [name]="item.icon"></i-tabler>
                      </span>
                      <span class="nav-link-title">{{ item.label }}</span>
                    </a>
                  </ng-container>
                  <ng-template #hMenuHasChildren>
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-haspopup="true">
                      <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <i-tabler [name]="item.icon"></i-tabler>
                      </span>
                      <span class="nav-link-title">{{ item.label }}</span>
                    </a>
                    <div class="dropdown-menu">
                      <a *ngFor="let child of item.children" class="dropdown-item" [routerLink]="child.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-tabler [name]="child.icon" class="icon-inline me-1"></i-tabler>
                        {{ child.label }}
                      </a>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-2 d-none d-xxl-block">
            <form class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last" action="/" method="get" autocomplete="off" role="search">
              <div class="input-icon">
                <input type="search" class="form-control" [placeholder]="'layout.header.search' | translate" aria-label="Search in website">
                <span class="input-icon-addon">
                  <i-tabler name="search"></i-tabler>
                </span>
              </div>
            </form>
          </div>

          <div class="col col-md-auto">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#layoutSettingsPanel">
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i-tabler name="settings"></i-tabler>
                  </span>
                  <span class="nav-link-title">Theme Settings</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SECONDARY NAVBAR -->
