<div class="page-header d-print-none">
  <div class="row g-2 align-items-center">
    <div class="col">
      <div class="page-pretitle">{{ 'iot.subtitle' | translate }}</div>
      <h1 class="page-title">{{ 'iot.title' | translate }}</h1>
    </div>
    <div class="col-auto ms-auto d-print-none">
       
      <a routerLink="/iot/devices/create" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-md">
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" />
        </svg>
        {{ 'iot.create' | translate }}
      </a>
    </div>
  </div>
</div>
