$assets-base: '/assets';

@import 'scss/tabler/tabler';
@import 'scss/custom/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

body.dark .prose h1,
body.dark .prose h2,
body.dark .prose h3,
body.dark .prose h4,
body.dark .prose blockquote>p,
body.dark .prose p>strong,
body.dark .prose p>a,
body.dark .prose {
    color: white;
}

body.dark li>strong {
    color: white;
    font-weight: bold;
}
